[submodule "platform"]
    path = platform
    url = https://github.com/divyanjalee200178/Library-System-Platform.git

[submodule "service"]
    path = service
    url = https://github.com/divyanjalee200178/Library-System-Services.git

[submodule "library-frontend"]
    path = library-frontend
    url = https://github.com/divyanjalee200178/Library-System-Frontend.git