[submodule "service"]
	path = service
	url = https://github.com/divyanjalee200178/Library-System-Services.git
[submodule "platform"]
	path = platform
	url = https://github.com/divyanjalee200178/Library-System-Platform.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/divyanjalee200178/Library-System-Frontend.git
[submodule "frontendm"]
	path = frontendm
	url = https://github.com/divyanjalee200178/Library-System-Frontend.git
